{%  extends "::base.html.twig" %}

{%  block content %}

    <div class="container">
        {% block container %}

            <h2>Add Registration Stuff Here</h2>

        {% endblock %}
    </div>

{% endblock %}