{%  extends "::base.html.twig" %}

{%  block content %}

<div class="container">
    {% block container %}





    <h1>ACA Shop</h1>
    <h2>Welcome {{ name }} !</h2>
    <h3>Is your shipping address still {{ shipAddress }}  ?</h3>
    <h3>Is your billing address still {{ billAddress }}  ?</h3>
    <form action="/logout" method = "post">
        <p><br/>
            You are currently logged in. If you would like to log out, click the LogOut button
            <br/><br/>
            <input type="submit" name = "LogOut" value="LogOut"/>
            <br/></p>
    </form>





    {% endblock %}
</div>

{% endblock %}