{#We want the form to be hidden when a person is logged in#}
{#We want a welcome message to show up when they are logged in#}
{#We also want a logout button to show up when they are logged in#}



{%  extends "::base.html.twig" %}

{%  block content %}

    <div class="container">
        {% block container %}




{% if loggedIn  %}

    <h1>ACA Shop</h1>
    <h2>Welcome {{ name }} !</h2>
    <!--<h3>Is your shipping address still   ?</h3>
    <h3>Is your billing address still   ?</h3>-->
    <form action="/logout" method = "post">
        <p><br/>
            You are currently logged in. If you would like to log out, click the LogOut button
            <br/><br/>
            <input type="submit" name = "LogOut" value="LogOut"/>
            <br/></p>
    </form>



{% else %}

    {% if msg %}
        <span style="color:red">{{ msg }}</span>
    {% endif %}

    <h1>ACA Shop</h1>
    <form action="/login_form" method="post">

        If you are an existing user, please Login
        <p>Username: <input type="text" name="username" value="{{ username }}"/>
            <br/><br/>
            Password : <input type="password" name="password" value="{{ password }}"/>
            <br/><br/>
            <!-- <input type="submit" name="signup" value="SignUp"/>  -->
            <input type="submit" name="login" value="Login"/>
            <br/></p>
    </form>

    <form action="/registration" method="post">
        If you are a new user, please press SignUp to go to the registration page
        <br/>
        <input type="submit" name="signup"  value="Signup"/>

    </form>


{% endif %}


        {% endblock %}
    </div>

{% endblock %}

