I am now in my template!
Create a login form here!


<html>
<body>

<form action="/process_login"  method="post">
    Username: <input type="text" name="username"/>
    <br/>
    Password: <input type="text" name="password"/>
    <br/>
    <input type="submit" value="Login"/>
    <br/>


</form>










</body>
</html>